#login {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 20em;
  height: 100vh;
  border-color: black;
  border-width: 10px;
}
body {
  margin: 0;
  padding: 0;
}
#login img {
  margin: auto;
}

#login button {
  margin: auto;
  scale: 125%;
  border-radius: 4px;
}

#login h1 {
  text-align: center;
  color: white;
}

#login input {
  margin: auto;
}

#banner {
  width: 100%;
  height: 105vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("Resrouces/IMG/BG.jpeg");
  background-size: cover;
  background-position: center;
}
#out {
  position: relative;
  left: 2em;
  top: 2em;
  margin: auto;
  scale: 125%;
  border-radius: 4px;
}