/*base page css */
#banner {
  width: 100%;
  height: 200vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("Resrouces/IMG/BG.jpeg");
  background-size: cover;
  background-position: center;
}
body {
  margin: 0;
  padding: 0;
}
#header img {
  margin-left: 1em;
  width: 4em;
  height: 6em;
}
#header h1 {
  text-align: center;
  font-family: "Bodoni Moda", sans-serif;
  color: #937c66;
  margin: 0; /* Remove default margin */
  flex: 1; /* Take up remaining space */
}
#header {
  display: flex;
  flex-direction: row;
  height: 10em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}
#header button {
  border-radius: 5px;
  margin: 0.5em;
  position: relative;
  right: 2em;
  margin-top: 2em;
  width: 3em;
  height: 3em;
}
.MenuDiv {
  display: inline-flex;
  width: 20em;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: #ffffff;
  font-family: "Bodoni Moda", sans-serif;
  border-radius: 30px;
}
#Header a {
  text-decoration: none;
}
#Header a:link {
  color: black;
}
#Header a:visited {
  color: black;
}
#ClickableMain {
  margin-top: 4em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#BreadMenu {
  background-size: cover;
  background-image: url(Resrouces/IMG/Bread.jpg);
}
#CakeMenu {
  background-size: cover;
  background-image: url(Resrouces/IMG/Cake.jpg);
}
#PastryMenu {
  background-size: cover;
  background-image: url(Resrouces/IMG/Rolls.jpg);
}
#SandMenu {
  background-size: cover;
  background-image: url(Resrouces/IMG/Sammy.jpeg);
}
#header a {
  color: black;
}
.MenuDiv:hover {
  transform: scale(1.05);
}
#footer {
  color: #9e9e9e;
}
#footer {
  display: flex;
  flex-direction: row;
  background-color: #2b2b2b;
  width: 100%;
  height: 15em;
}
.footel {
  height: 15em;
  width: 25%;
}
#Social div {
  width: 100%;
  height: 10em;
  display: flex;
  flex-wrap: wrap;
}
.fa {
  color: #9e9e9e;
  padding: 20px;
  font-size: 30px;
  width: 0.5em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
#story {
  position: relative;
  border-radius: 15px;
  margin-top: 4em;
  padding: 2em;
  background-color: rgb(108, 106, 106, 0.75);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
#story:hover {
  backdrop-filter: blur(5px);
  background-color: rgb(230, 230, 230, 0.75);
}
body p {
  font-family: "Bodoni Moda", sans-serif;
  font-size: calc(0.75vw + 0.75vh);
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 2em;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.slideshow-container img {
  width: 5em;
  height: 40em;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5em;
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
}
.sidenav .XButton {
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.Menuitem {
  width: 20em;
  height: 15em;
  margin-left: 5em;
  border-radius: 1em;
  background-color: #a8a3a3;
}
.Menuitemimg {
  margin-left: 1em;
  margin-top: 1em;
  border-color: black;
  width: 10em;
  height: 7em;
  border-radius: 15px;
}
.Menuitemname {
  color: black;
  margin-left: 1em;
}
.ButtonAddCart {
  width: 10em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
  border-color: black;
  float: right;
  margin-right: 2em;
  margin-top: -1em;
}
.footel a {
  color: blue;
}
